<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Track User</h4>
  <button type="button" class="btn-close" aria-label="Close"
          (click)="close()"></button>
</div>
<div class="modal-body container">
  <div class="row row-cols-1 row-cols-sm-3 gy-2">
    <label for="modal-add-user-input" class="col col-form-label">
      Username
    </label>
    <div class="col">
      <input class="form-control" id="modal-add-user-input" type="text"
             placeholder="username" [formControl]="usernameFormControl"
             [class.is-invalid]="isSet() && (isInvalid() || (checkedUser &&!userExists))"
             [class.is-valid]="checkedUser && userExists"
             (input)="touchUsername()" />
      <div class="invalid-feedback"
           *ngIf="usernameFormControl.errors?.['badUsername']">
        Badly formatted username
      </div>
      <div class="invalid-feedback" *ngIf="checkedUser && !userExists">
        User not found!
      </div>
      <div class="valid-feedback" *ngIf="checkedUser && userExists">
        User found!
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" [disabled]="isAdding ||
                  (checkedUser && (!isSet() || (isSet() && isInvalid())))"
              *ngIf="!isChecking" (click)="checkUserExists()">
        Check
      </button>
      <div class="spinner-border text-primary" role="status" *ngIf="isChecking">
        <span class="visually-hidden">Checking...</span>
      </div>
    </div>
  </div>
  <div *ngIf="userExists && !!user" class="row">
    <span class="col">
      <img class="rounded-circle" src="{{user.avatar_url}}"
           style="width: 24px; height: 24px" />
    </span>
    <span class="col">{{user.login}}</span>
    <span class="col">{{user.name}}</span>
  </div>
  <div *ngIf="!!addedUser && !errorAdding" class="mx-auto">
    <span class="text-success">
      Added '{{addedUser.login}}' to tracked users!
    </span>
  </div>
  <div *ngIf="errorAdding" class="mx-auto">
    <span class="text-danger">
      Unable to add user!
    </span>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success"
          [disabled]="!checkedUser || !userExists" *ngIf="!isAdding"
          (click)="submit()">
    Submit
  </button>
  <div class="spinner-border text-primary" role="status" *ngIf="isAdding">
    <span class="visually-hidden">Submitting...</span>
  </div>
</div>